<!DOCTYPE html>
<html>
        <head>
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        </head>
        <body>
                La suppression des colocations inutilisées s'est déroulée normalement et se termine à <%= Time.now %>. <br> 
                Voici le rapport: <br>
				<%= @summary.html_safe %>
        </body>
</html>
