<!DOCTYPE html>
<html>
        <head>
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        </head>
        <body>
                <h1>Réinitialisation de mot de passe pour <%= @user.nom %></h1>
                <p>
		    Vous avez demandé la réinitialisation de votre mot de passe, voici donc vos nouvelles coordonnées : <br>
                <li> Votre login est: <%= @user.nom %>.</li>
                <li> Votre email est: <%= @user.email %>.</li>
                <li> Votre mot de passe est: <%= @user.password %>.</li>
                </p>
                <p>
                </p>
                <p>Merci de nous faire confiance et bonne journée !</p>
        </body>
</html>
