<h1>Inscription de la Collocation</h1>

<%= form_for(@collocs) do |f| %>

	<div class="field">
		<%= f.label :nom %><br />
		<%= f.text_field :nom %>
	</div>
	<div class="actions">
		<%= f.submit "Inscription" %>
	</div>
<% end %>

