<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
	  <%= @colloc.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @colloc.nom %><br />
      <strong>Id</strong> <%= @colloc.id %><br />
    </td>
  </tr>
</table>
