<% if object.errors.any? %>
  <div id="error_explanation">
  <ul>
    <li class="rounded">
    <p class="erreur"> Erreur ! </p>
    <% object.errors.full_messages.each do |msg| %>
   <%= msg %>
    <% end %>
   </li>
    </ul>
  </div>
<% end %>

