<h1> <%= @titre %> </h1>
<div class="descriptionNormal">
<p>
Application créée en <strong> <a href="http://rubyonrails.org/">Ruby on Rails</a></strong>. 
</p>
<p>
Application created in <strong> <a href="http://rubyonrails.org/">Ruby on Rails</a></strong>. 
</p>
</div>
