<h1> <%= @titre %> </h1>

<strong class="changelog" > En projet </strong><br>
<strong> - ajout de micro messages entre les colocations. </strong> <br>
<br> 

<strong class="changelog" > Le 10/09/2012 <i>  ---- v1.0.5 </i></strong><br>
<strong> - Ajout de l'onglet "faire mes comptes" dans le tableau de bord. </strong> <br>
- optimisations diverses. <br>
<br> 

<strong class="changelog" > Le 02/09/2012 <i>  ---- v1.0.4 </i></strong><br>
<strong> - Lancement officiel de l'application ! </strong> <br>
- corrections diverses. <br>
<br> 


<strong class="changelog" > Le 5/08/2012 <i>  ---- v1.0.3 </i></strong><br>
- possibilité de changer la source des dépenses manuellement. <br>
- handling d'exceptions lors de l'inscription. <br>
- optimisations diverses. <br>
<br> 

<strong class="changelog" > Le 23/06/2012 <i>  ---- v1.0.2 </i></strong><br>
- ajout du choix pour apparaître dans le Palmarès. <br>
- gestion de la confirmation des suppressions. <br>
<br> 

<strong class="changelog" > Le 18/06/2012 <i>  ---- v1.0.1 </i></strong><br>
- ajout d'un graphique dans la page "tableau de bord". <br>
<strong> - ajout d'un graphique pour le palmarès des colocs. </strong> <br>
- correction de bugs. <br>
<br> 



<strong class="changelog" > Le 18/06/2012 <i>  ---- v1.0 </i></strong><br>
<strong> - Gestion des colocations à 3 et 4 colocataires. </strong><br> 
- ajout du palmares des colocs. <br>
- changement de l'interface utilisateur. <br>
- modification du formulaire d'entrée de dépense. <br>
- modification du design. <br>
<br> 

<strong class="changelog" > Le 28/05/2012 <i>  ---- v0.4 </i></strong><br>
- tests de l'interface. <br> 
- tests de l'envoi d'email en ligne. <br> 
<br> 

<strong class="changelog" > Le 27/05/2012 <i>  ---- v0.3 </i></strong><br>
<strong> - ajout de la gestion d'envoi de mails à chaque dépense + à chaque inscription. </strong> <br> 
- modification de l'interface utilisateur pour empêcher les mauvaises modifications. <br> 
- remplissage automatique des champs dans les formulaires. <br> 
- uniqueness des noms d'utilisateurs, de colocation. <br> 
- suppression des dépenses de l'utilisateur quand on supprime l'utilisateur. <br> 
- possibilité de modifier le nom de sa coloc. <br> 
<br> 


<strong class="changelog" > Le 26/05/2012 <i>  ---- v0.2 </i></strong><br>
- Création de la page "tableau de bord". <br> 
<strong> - Gestion des colocations à 2 personnes terminée. </strong> <br> 
- Gestion des sessions. <br> 
- Création d'un utilisateur admin qui a tous les droits. <br> 
- Correction de problèmes d'affichage. <br> 
<br> 


<strong class="changelog" > Le 25/05/2012 <i>  ---- v0.1 </i>  </strong><br>
- Début de la création de l'application. <br> 
- Création des classes Pages, User, Coloc, et Dépense. <br> 
- Mise en forme des pages, création du design CSS. <br> 
