<h1> <%= @titre %> </h1>

<strong class="changelog" > En projet </strong></br>
- ajout du palmares des colocs </br>
- ajout d'une page publique d'ajout de dépense. </br>
</br> 

<strong class="changelog" > Le 18/06/2012 </strong></br>
<strong> - Gestion des colocations à 3 et 4 colocataires. </strong></br> 
- changement de l'interface utilisateur. </br>
- modification du formulaire d'entrée de dépense. </br>
- modification du design. </br>
</br> 

<strong class="changelog" > Le 28/05/2012 </strong></br>
- tests de l'interface. </br> 
- tests de l'envoi d'email en ligne. </br> 
</br> 

<strong class="changelog" > Le 27/05/2012 </strong></br>
<strong> - ajout de la gestion d'envoi de mails à chaque dépense + à chaque inscription. </strong> </br> 
- modification de l'interface utilisateur pour empêcher les mauvaises modifications. </br> 
- remplissage automatique des champs dans les formulaires. </br> 
- uniqueness des noms d'utilisateurs, de colocation. </br> 
- suppression des dépenses de l'utilisateur quand on supprime l'utilisateur. </br> 
- possibilité de modifier le nom de sa coloc. </br> 
</br> 


<strong class="changelog" > Le 26/05/2012 </strong></br>
- Création de la page "tableau de bord". </br> 
<strong> - Gestion des colocations à 2 personnes terminée. </strong> </br> 
- Gestion des sessions. </br> 
- Création d'un utilisateur admin qui a tous les droits. </br> 
- Correction de problèmes d'affichage. </br> 
</br> 


<strong class="changelog" > Le 25/05/2012 </strong></br>
- Début de la création de l'application. </br> 
- Création des classes Pages, User, Coloc, et Dépense. </br> 
- Mise en forme des pages, création du design CSS. </br> 
