<h1>Contact</h1>
<div class="descriptionNormal">
<p>
  Pour contacter l'administrateur :
  <a href="mailto:arthur.verger@gmail.com">arthur.verger@gmail.com</a> </br>
  <i> N'hésitez pas à faire part de vos remarques/suggestions sur cette application. </i>
</p>
<p>
  To contact the admin :
  <a href="mailto:arthur.verger@gmail.com">arthur.verger@gmail.com</a> </br>
  <i> Please feel free to send me any remarks/suggestions about the application. </i>
</p>

</div>
