<h1> <%= @titre %> </h1>

<p>
<font size="3", color=white>
	MyColoc est un logiciel permettant de gérer les dépenses au sein d'une collocation. Commencez tout de suite en inscrivant votre colocation.
</font>
</p>

<% if signed_in? %>
	<%= link_to "Voir ma colocation !", Coloc.find(current_user.coloc_id), :class => "signup_button round" %>
<% else %>
	<%= link_to "Inscrire sa colocation !", signup_path, :class => "signup_button round" %>
<% end %>
