


<%= render 'layouts/slider' %>


<div class="description"> 

	<br/>
	<p>
	<span class="cam1"> Camouloc. </span> La meilleure manière de gérer votre <span class="cam1">coloc.</span> 
	Dépenses, messages, rappels, tout est géré dans une application <span class="cam1"> intuitive, élégante et gratuite. </span> 
	</p>
	<p>
	Entrez vos dépenses, et <span class="cam1"> Camouloc. </span> calcule en temps réel vos comptes <span class="cam1"> coloc. </span> 
	Mettez de côté vos cahiers de notes ou autres tableur Excel, et rejoignez le réseau  <span class="cam1"> Camouloc. </span> !	
	</p>


	<%= link_to "Inscrivez-vous gratuitement !", signup_path , :class => "signup_button" if !signed_in? %>
	<br/>

</div>
