<h1> <%= @titre %> </h1>

<p>
<font size="3", color=white>
	MyColloc est un logiciel permettant de gérer les dépenses au sein d'une collocation. Commencez tout de suite en inscrivant votre collocation.
</font>
</p>

<% unless signed_in? %>
	<%= link_to "Inscrire sa collocation !", signup_path, :class => "signup_button round" %>
<% end %>
