.container {
	width: 900px;
}

body { 
	background-image:url('fond.jpg');
	background-attachment: fixed;
	/*background-color: #fff;*/
}


header {
	background-color: #175475;
	box-shadow: 0px 2px 5px #1c1a19;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	height:10em;
	margin-top: 1em;
	margin-bottom: 3em;
}

.mycoloc {
        font-size:180%;
        color:#5DA7CF;
}


.subtitle {
        font-size:70%;
        color:white;
}
header img {
	/*background-color: #00CC33;*/
	width: 10em;
}



nav, .titre {
	display: inline-block;
	vertical-align: top;
}

.titre {
	font-size: 220%;
	width: 41%;
	font-family: 'RieslingRegular', Arial, sans-serif;
	margin-left: 10px;
}

/* paramètres du body */

article, aside {
	display: inline-block;
	vertical-align: top;
	background-color: #175475;
	color: white;
}



section {
	margin-top: 1em;
	font-size: 120%;
}

aside
{
	position: relative;
	width: 200px;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 10px;
	padding: 10px;
	color: white;
}

article
{
	padding: 10px;
	margin-left: 2em;
	border-radius: 10px;
	width: 620px;
	box-shadow: 0px 2px 5px #1c1a19;
}


section h1 {
	font-size: 250%;
	color: #5DA7CF;
}

/* Liens */

a {
	color: #09c;
	text-decoration: none;
        cursor:pointer;
}

a:hover {
	color: #09c;
	text-decoration: underline;
        cursor:pointer;
}

a:visited {
	color: #09c;
}

/* Navigation */

header nav {
	float: right;
	background-color:#fff ;
}

nav {
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
	color: #09c;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	color: #09c;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Bouton inscription */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 170px;
	color: #fff;
	/*background: #006400;*/
	background: #5DA7CF;
	font-size: 150%;
	font-weight: bold;
	padding: 15px;
	box-shadow: 0px 2px 5px #1c1a19;
}
a.signup_button2 {
	margin-left: 80%;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 80px;
	color: #fff;
	background: #5DA7CF;
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	box-shadow: 0px 2px 5px #1c1a19;
}
a.signup_button3 {
	margin-right: auto;
	display: block;
	text-align: center;
	width: 150px;
	color: #fff;
	background: #5DA7CF;
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	box-shadow: 0px 2px 5px #1c1a19;
}

	/* Coins arrondis */

.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         7px;
}


footer {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}
div.field, div.actions {
	margin-bottom: 10px;
}

div.field2 {
	background-color: gray;
	margin-bottom: 10px;
}

/* User show page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 57%;
	padding: 1em;
}

tr.depenses {
	width: 25%;
	padding: 1em;
	color: black;
	background-color: white;
	box-shadow: 0px 2px 5px #1c1a19;
}

td.sidebar {
	width: 43%;
	padding: 1em;
	vertical-align: top;
	background-color: black;
	color: white;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

div.users {
	margin-top: 1em;
}

.users li {
	list-style: none;
}

/* coloc show page */

div.colocataire {
	background-color: black;
	color: black;
}


/* page du tableau de bord */

table.tabbord {
	color: black;
	background-color: white;
	box-shadow: 0px 2px 5px #1c1a19;

}
/* changelog */
strong.changelog {
	color: black;
}

/* index des colocs */
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(up_arrow.gif);
}

.pretty th .desc {
  background-image: url(down_arrow.gif);
}


/* graphiques */
.container2 {
        width: 620px; 
        height: 300px; 
        margin: 0 auto;
	box-shadow: 0px 2px 5px #1c1a19;
}

.my-error-class {
    color:red;
}

/*
	Page style
*/
body { 
	letter-spacing:0;
	color:#434343;
	padding:20px 0;
	position:relative;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;

	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:570px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
.caption_big {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:40px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}


.slide_mod {
	background-color:white;
	color:black;
	font-size:160%;
	text-align:center;
	font:Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}

.slide_mod_black {
	background-color:black;
	color:black;
	font-size:160%;
	text-align:center;
	font:Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
.slide_mod_black_right {
	background-color:black;
	color:black;
	font-size:160%;
	text-align:right;
	font:Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
.slide, .slide_mod, .slide_mod_black {
	vertical-align: top;
}


textarea {
   width: 500px;
   height:50px;
}

/* Mise en forme des messages */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
box-shadow: 0px 2px 5px #1c1a19;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td {
  border-top: 1px solid #ccc;
  vertical-align: middle;
  background-color:white;
  color:black;
  width: 50px;
}

table.microposts tr td.micropost {
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

/* bulles */
#bubulle {
	background-color: #fafaff;
	border: 1px solid #aaf;
}
