/* Main settings */

.white-border {
    border: 3px solid #fff;
}

.white-border-big {
    border: 3px solid #fff !important;
}

.alert-wrapper {
	padding:10px;
	padding-bottom:0px;
}

.alert .close {
    color: #000;    
}



/* Select2 settings */

.select2-container--default{
  border: 1px solid #d2d6de;
  border-radius: 0; 
}

.select2-container--default .select2-selection--multiple {
  border: none !important;
  border-radius: 0; 
  padding: 0px 10px;
}

.select2-selection__choice {
	background-color: #3c8dbc !important;
	border-color: #3c8dbc !important;
}

.select2-selection__choice .select2-selection__choice__remove {
	color:white !important;
}

/* User coloc settings */

.text-blue1 {
	color:#8DC3E3 !important;
}

.text-blue2 {
	color:#5EA5CF !important;
}

.text-blue3 {
	color:#3C8CBC !important;
}

.text-blue4 {
	color:#1E77AB !important;
}

.text-blue5 {
	color:#085B8C !important;
}

.text-blue6 {
	color:#054972 !important;
}

/* d3 chart settings */

#circle circle {
fill: none;
pointer-events: all;
}
 
.group path {
fill-opacity: .5;
}
 
path.chord {
stroke: #000;
stroke-width: .25px;
}
 
#circle:hover path.fade {
display: none;
}
