.container {
	width: 100%;
}

body { 
	/*background-image:url('fond2.jpg');
	background-attachment: fixed;
	background-position: 0% 0%;
	background-position: auto;
	background-repeat: no-repeat;*/
}


header {
	background-color:#000;
	box-shadow: 0px 2px 5px #000;
	padding-top: 2em;
	padding-left: 10px;
	padding-right: 10px;
	/*border-radius: 10px;*/
	margin-bottom: 3em;
   	color : white;
	position : relative;
	top : -2em;
	height:7em;
	width : 98.5%;
}

span.cam1 {
        color:#09c;
	font-weight: bold;
}

span.cam2 {
        color:#09c;
}

span.cam3 {
        color:#09c;
	font-weight: bold;
	font-size: 110%;
}
span.cam4 {
        color:#09c;
	font-weight: bold;
	font-size: 120%;
}

.mycoloc {
        font-size:300%;
        margin-left:0.6em;
}


.subtitle {
        font-size:70%;
        color:white;
}


header img {
	/*background-color: #00CC33;*/
	width: 10em;
}


nav, .titre {
	display: inline-block;
	vertical-align: top;
}

.titre {
	font-size: 240%;
	width: 41%;
	font-family: 'RieslingRegular', Arial, sans-serif;
	margin-left: 10px;
}

/* paramètres du body */

article, aside {
	display: inline-block;
	vertical-align: top;
}



section {
	margin-top: 1em;
	font-size: 120%;
}

article
{
	padding: 1em;
	/*border-radius: 10px;*/
	width: 90%;
	display:block;
	margin:auto;
}


section h1 {
	font-size: 250%;
	/* color: #5DA7CF;*/
        color:white;
        border-style:solid;
        border-bottom:thin solid white;
        padding-bottom:0.2em;

}

/* Liens */

a {
	color: #09c;
	text-decoration: none;
        cursor:pointer;
}

a:hover {
	color: #09c;
	text-decoration: underline;
        cursor:pointer;
}

a:visited {
	color: #09c;
}

/* Navigation */

header nav {
	float: right;
	background-color:#fff ;
}

nav {
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
	color: #09c;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	color: #09c;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Bouton inscription */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 170px;
	color: #fff;
	/*background: #006400;*/
	background:#000;
	font-size: 150%;
	font-weight: bold;
	padding: 5px;
	box-shadow: 0px 2px 5px #000;
}
a.signup_button2 {
	margin-left: 70%;
	margin-right: auto;
	text-align: center;
	display: block;
	width: 170px;
	color: white;
	background: #000 ;
	font-size: 100%;
	font-weight: bold;
	padding: 4px;
	box-shadow: 0px 2px 2px #000;
}
a.signup_button3 {
	margin-right: auto;
	display: block;
	text-align: center;
	width: 150px;
	color: #fff;
	background: #5DA7CF;
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	box-shadow: 0px 2px 5px #000;
}
a.signup_button4, div.signup_button4{
	margin-right: auto;
	display: block;
	text-align: center;
	width: 170px;
	color: white;
	background: #09c;
	font-size: 100%;
	font-weight: bold;
	padding: 4px;
	margin-top: 0.6em;
	box-shadow: 0px 2px 5px #000;
}

a.signup_button4Head {
	margin-right: auto;
	display: block;
	text-align: center;
	width: 170px;
	color: white;
	background: #09c;
	font-weight: bold;
	padding: 4px;
	margin-top: 0.6em;
	box-shadow: 0px 2px 5px #000;

}

input.signup_button4 {
   border:none;
	display: inline;
	width: 180px;
   height : 30px;
	color: white;
	background: #09c;
	font-size: 100%;
   line-height: 10px;
	font-weight: bold;
	padding: 8px;
	margin-top: 1em;
	box-shadow: 0px 2px 5px #000;
}

input.signup_button4:hover {
   text-decoration : underline;
}
a.signup_button5, div.signup_button5 {
	margin-right: auto;
	margin-top: 0.6em;
	text-align: center;
	display: block;
	width: 170px;
	color: white;
	background: #000 ;
	font-size: 100%;
	font-weight: bold;
	padding: 4px;
	box-shadow: 0px 2px 2px #000;
}

a.signup_button6, div.signup_button6 {
	margin-right: auto;
	display: block;
	text-align: right;
	line-height: 40px;
	width: 200px;
	height: 38px;
	color: white;
	background: #09c ;
	font-size: 120%;
	font-weight: bold;
	padding: 4px;
	margin-top: 0.6em;
	box-shadow: 0px 2px 5px #000;
}

a.onglets, h1.onglets {
        color:white;
        border-left:thin solid white;
        border-style:solid;
        border-bottom:thin solid white;
        padding-bottom:0.2em;
        padding-left:0.2em;
}

a.palma {
        text-transform: uppercase;
}

	/* Coins arrondis */

.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         7px;
}


footer {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}
div.field, div.actions {
	margin-bottom: 10px;
}

div.field2 {
	background-color: gray;
	margin-bottom: 10px;
}

/* User show page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 57%;
	padding: 1em;
}


tr.depenses {
	width: 25%;
	padding: 1em;
	color: black;
	background-color: white;
}

td.sidebar {
	width: 43%;
	padding: 1em;
	vertical-align: top;
	background-color: black;
	color: white;
	box-shadow: 0px 2px 5px #000;
}
td.sidebar2 {
	width: 43%;
	padding: 1em;
	vertical-align: top;
	background-color: white;
	color: black;
	box-shadow: 0px 2px 5px #000;
}

td.sidebar3 {
	vertical-align: top;
	background-color: #09c;
	color: white;
	box-shadow: 0px 2px 5px #000;
	margin-top: 2em;
}


.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

div.users {
	margin-top: 1em;
}

.users li {
	list-style: none;
}

/* coloc show page */

div.colocataire {
	background-color: black;
	color: black;
}


/* page du tableau de bord */

table.tabbord {
	color: black;
	background-color: white;
	box-shadow: 0px 2px 5px #000;

}
/* changelog */
strong.changelog {
	color: black;
}

/* index des colocs */
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(up_arrow.gif);
}

.pretty th .desc {
  background-image: url(down_arrow.gif);
}


/* graphiques */
.container2 {
        width: 620px; 
        height: 300px; 
        margin: 0 auto;
        background-color: white;
        box-shadow: 0px 2px 5px #000;
}

.my-error-class {
    color:red;
}

/*
	Page style
*/
body { 
	letter-spacing:0;
	color:#434343;
	padding:20px 0;
	position:relative;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;

	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	box-shadow: 0px 2px 5px #000;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:570px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
.caption_big {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:40px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}


.slide_mod {
	background-color:white;
	color:black;
	font-size:160%;
	text-align:center;
	font:Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}

.slide_mod_black {
	background-color:black;
	color:black;
	font-size:160%;
	text-align:center;
	font:Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
.slide_mod_black_right {
	background-color:black;
	color:black;
	font-size:160%;
	text-align:right;
	font:Helvetica, Arial, sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
.slide, .slide_mod, .slide_mod_black {
	vertical-align: top;
}


textarea {
   width: 500px;
   height:50px;
}

/* Mise en forme des messages */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
box-shadow: 0px 2px 5px #000;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td {
  border-top: 1px solid #ccc;
  vertical-align: middle;
  background-color:white;
  color:black;
  width: 50px;
}

table.microposts tr td.micropost {
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

/* ul colocs */

ul.colocs {
        font-size:110%;
        padding-left:3em;
}


/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.65;
   background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	/*background-image:url('popup.jpg');
	background-attachment: fixed;
	background-color:#16344C;*/
	background-color:white;
	width:420px;
	height:300px;
	border:5px solid #000;
	z-index: 9002;
}

#popUpDiv a {position:relative; top:270px; left:250px}

a.popuplink:link, a.popuplink:visited {color:#fff; text-decoration:none; font-size:15px; background:#000000; padding:5px; -webkit-border-radius:8px;
-moz-border-radius:8px}
a.popuplink:hover,a.popuplink:active {color:#fff; text-decoration:none; font-size:15px; background:#333333; padding:5px; -webkit-border-radius:8px;
-moz-border-radius:8px}



.authentifications {
  margin-bottom: 30px;
}

.authentification {
  width: 200px;
  float: left;
  background-color: white;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentification .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentification .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentification img {
  float: left;
  margin-right: 10px;
}

.authentification .provider {
  font-weight: bold;
  font-size: 110%;
  color: black;
  margin-top: 8px;
}

.authentification .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}


.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


.authfaceb {
	position : relative;
	left: 30em;
	bottom : 4em;
}
.authfacebinscr {
	position : relative;
	left: 30.7em;
	bottom : 6.5em;
}

.new_facebook {
	position : relative;
	bottom : -4.6em;	
}

.connect_facebook {
	position : relative;
	left: 30em;
	bottom : 4em;
}


/*
 * SimpleModal OSX Style Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#osx-modal-content, #osx-modal-data {display:none;}

/* Overlay */
#osx-overlay {background-color:#000;}

/* Container */
#osx-container {background-color:#16344C; color:#000; font: 16px/24px "Lucida Grande",Arial,sans-serif; padding-bottom:0px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
#osx-container a {color:#ddd;}
#osx-container #osx-modal-title {color:#fff; background-color:#09c; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px;} /*text-shadow:0 1px 0 #f4f4f4;}*/
#osx-container #osx-modal-data {font-size:12px; padding:6px 12px;}
#osx-container h2 {margin:10px 0 6px;}
#osx-container p {margin-bottom:10px; font-size:120%; color:white}
#osx-container span {color:#777;}

.icaptcha {
   height : 390px;
   width  : 570px;
}

/* errors */
#error_explanation {
   background-color : #800000;
   box-shadow: 0px 2px 5px #000;
   padding : 10px;
   margin : 20px 10px 30px 10px;
}

#error_explanation h2 {
   color : #F00;
   font-size : 140%;
   font-weight:bold;
}

.field_with_errors input {
   border-style : solid;
   border-color : red;
   box-shadow: 0px 2px 5px #800000;
}


/* barre de progression */

.progress-bar {
	background-color: #1a1a1a;
	height: 20px;
	padding: 5px;
	width: 220px;
	margin: 40px 0;			
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
}
.progress-barchlog {
	margin: 0px;			
   margin-left : 10px;
   float : right;
	width: 230px;
}

.progress-bar span {
	display: inline-block;
	height: 100%;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;    
}

.progress-bar p.realisation {
   position : relative;
   top : -3.5em;
   left : -0.2em;
}

.progress-bar p.nouveaute {
   position : relative;
   top : -2.5em;
   left : -0.2em;
}

.progress-bar a {
   position : relative;
   top : -3.5em;
   left : -0.2em;
}

.blue span {
	background-color: #09c;   
}

.stripes span {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;       		
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

span.details {
   color : #09c;
   font-size : 120%;
   font-weight : bold;
}

span.type {
   position : relative;
   color : white;
   top : 0.2em;
}
span.type2 {
   position : relative;
   float : right;
}

.headerInscr {
   position : relative;
   top : -3em;
   left : 46em;
   height : 22px;
   font-size : 130%;
}


/* SLIDER */

.wrapper {
	position : relative;
	width : 100%;
	font-family: 'Open Sans Condensed', sans-serif;	
	margin-bottom : 10em;
}

.wrapper p {
	clear : both;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}

.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 400px;
	margin: 0 auto;
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}
.ei-title{
	position: absolute;
	right: 50%;
	margin-right: 3%;
	top: 30%;
}
.ei-title h2, .ei-title h3{
	text-align: right;
}
.ei-title h2{
	font-size: 40px;
	line-height: 50px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #444;
}
.ei-title h3{
	font-size: 100px;
	line-height: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #09c;
	text-shadow:0 1px 2px #222;
}
.ei-slider-thumbs{
	height: 13px;
	margin: 0 auto;
	position: relative;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
	list-style-type : none;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #dadada;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #aaa;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(0%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.prettyFont {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size : 70%;
}
