body {
	/*background-image: url('login-background.jpg') !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;*/
	background: #34495e  !important;
}

.register-box-header {
	background: #fff;
	padding: 10px;
	border-top: 0;
	color: #666;
}

.login-header-msg {
	margin: 0;
	text-align: center;
	padding: 0 20px 0px 20px;
}

#roommateemail {
	margin-bottom: none;
}

div.login-logo  a , div.register-logo a {
	color:#fff !important;
}