<h1> <%= @titre %> <%= @user.nom %> (I/II)</h1>

Choisissez le nombre de colocataires impliqués dans la dépense : </br>
<%= link_to "2 colocataires", new_depense_path(@depense) %> </br>
3 colocataires </br>
4 colocataires </br>

