<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "À Propos", about_path %></li> |
      <li><%= link_to "Contact", contact_path %></li> |
      <li><%= link_to "Changelog v1.1", changelog_path %></li> |
  <a href="https://www.facebook.com/Camouloc" >
                         <%= image_tag("facebook-logo.jpg", :alt => "Application Arthur", :class => "round", :size => "70x20") %>
                 </a>

    </ul>
  </nav>
</footer>
